<div class="room-info" style="max-width: 100vw;">
  <h1>Mood</h1>
  <p>Know what correlates with success in an escape room? Your attitude. Right now you’re thinking “Surely you mean intelligence”, or “This is some feel-good, fun-is-what-matters point.” No, and no.
  
  I see intelligent teams come through all the time, and there’s no correlation with success. Most games are built without necessary prior knowledge, so your degree in cryptography or your Grand Master Chess skills are actually putting you in danger of overthinking the puzzles.
  
  What absolutely does correlate positively is a fun, enthusiastic attitude. Teams that get excited, into the game, always finish faster (and have more fun). They feel a rush every time a mini puzzle is solved, and run to the next one.
  
  The only thing that correlates more negatively than apathy is alcohol — and even that is moreso due to the sobering up effect that happens about 30-40 minutes in, resulting in even worse apathy.</p>

  <h1>Explore, explore, explore</h1>
  <p>The first thing you should do in every room is search for clues. Look behind things. Under things. Inside things. If they didn’t tell you not to open certain things, then open them. Good escape room teams are like a tornado that quickly unearths every clue before they can get down to the business of contemplation. By contrast, first-time teams are often unsure about what they’re allowed to touch. The answer is everything you weren’t told not to touch!</p>

  <h1>Communicate</h1>
  <p>Psychologists and business managers are keenly interested in how people communicate in these types of environments. It’s like a multi-stage test of who listens to whom. The loud know-it-all tends to be followed, but that’s not always a great idea. Sometimes you get the quiet person with the right idea who just isn’t being listened to.
  
  It’s important that everyone knows about all the clues, so you should be shouting out what you find. Often one person has the Yin and isn’t aware the other person has the Yang, so time is wasted before the two are put together.</p>

  <h1>Divide and Conquer</h1>
  <p>Larger groups have the advantage of being able to split up work. A few can work on one puzzle, while a couple work on another puzzle, and it even helps to just have someone standing back and looking at things from a different perspective. If there are three puzzles in a room, it’s wasteful to have a team of six all finishing one before moving on to the next.</p>

  <h1>Numbers</h1>

  <p>A very common trope is finding numbers around the room, and being given clues on how to order them. Perhaps the numbers are tied to something else, and the other objects themselves have a particular order. Perhaps there’s another level to it — Objects that correspond to objects that correspond to numbers.
  
  It helps to identify what type of input each lock has. For a particular lock, are you looking for letters? Numbers? Something else? If there aren’t any clues that directly apply to that kind of input, is there any connection at all? Any way to convert those clues into different data?
  
  Once you know the method of converting clues into input, you’re on the right track. But you may only need to get a few of those right, as long as you…</p>


  <h1>Know when to brute force</h1>
  <p>Number puzzles will likely have a few red herrings so they’re harder to brute force. But if you’ve mostly solved a combination lock, then it’s entirely feasible to just brute force the rest of the solution. If you already have two digits out of a four digit solution, there’s only 100 possible combinations to try, which doesn’t actually take that long. Especially if other people are attempting the puzzle’s normal route while you work on the lock.
  
  As for when not to brute force? When there are known unknowns. Unsure exactly how many variables are involved in the combination? Best go the normal route, and if you’re stuck, ask for a hint…</p>

  <h1>Know when to ask for help</h1>

  <p>Ah, the pride. The pride takes a blow when you press that hint button. But you know what hurts the pride even more? Not finishing the game in time. Hints are a big part of escape games, and knowing when to press the button is a valuable skill.
  
  At every roadblock, successful teams are methodical — they check to see if every known clue has been used yet, they quickly explore some more to see if they’ve missed any clues, and they take a step back and analyse if their current thought process is a bit like overthink. And if there are still no ideas, they press that button.
  
  When groups enter our room, I advise teams to ask for a hint after five minutes of feeling no progress. The tricky thing is, five minutes feels like nothing. But using the methodical method above, you should get your hint without falling behind while maximising your chances of an epiphany.
  
  Of course, if you just plain hate hints, then by all means, you should play the way you want to play. Nothing trumps personal preference. But given the current state of the game in puzzle design, these are the best broad tips for success. Be methodical in your search for epiphanies, and you’ll have more of them.</p>
</div>
