body {
  $nav-width: 100px;
  $map-height: 300px;
  font-family: $helvetica;
  margin: 0;
  color: white;

  nav {
    position: fixed;
    @include size($nav-width 100%);
    z-index: 999999;
  }

  #map_canvas {
    $background-color: rgba(255,55,55,0.4);
    height: 300px;
    position: relative;
    background-color: $background-color;
  }

  .container {
    $background-color: #333;

    margin-left: $nav-width;
    width: auto;
    position: relative;
    background-color: $background-color;
    overflow: auto;
    z-index: 1;

    $texture-top-background: lighten($background-color, 1%);
    $texture-bottom-background: darken($background-color, 60%);
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal
    @include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 1);

    .content {
      min-height: 100vh;
    }
  }

  footer {
    position: relative;
    width: auto;
  }
}
