<p id="notice"><%= notice %></p>

<%= javascript_tag do %>
  getLocations({
    city: 'Atlanta',
    state: 'Georgia',
    country: 'USA'
  },
  function (data) {
    console.log(data);
  })
<% end %>
