<p id="notice"><%= notice %></p>

<div class="cards"></div>

<%= javascript_tag do %>

  function success(data) {
    getLocations({
      lat: data.coords.latitude,
      lon: data.coords.longitude
      }, function (locations) {

      var mapCenter = {
        lat: locations.location[0],
        lon: locations.location[1]
      };

      bittersMap(mapCenter).init();

      locations.locations.forEach(function (location) {
        var container = document.querySelector('.container');  

        cardify(container, location);

      });
    });
  }

  function cardify (container, location) {
    container.innerHTML += `
      <div class="card">
        <div class="card-header">
          ${location.name}
        </div>
        <div class="card-copy">
          <strong>Address: </strong>
          <p>${location.street}</p>
        </div>
      </div>
      `
  }

  function error () {
    console.log('didnt get the data');
  }

  navigator.geolocation.getCurrentPosition(success, error);

<% end %>
