<p id="notice"><%= notice %></p>

<%= javascript_tag do %>
  // defined in locations.js:
  // fetches remote data from the api
  // builds the cards on /locations
  // renders markers on the map
  locations();
<% end %>

<div class="cards"></div>
